<section id="hero-section" [ngClass]="{'animate__fadeIn': inViewport, page, 'opacity-0': !inViewport}"
  class="px-6 md:px-[58px] lg:px-[85px] py-[100px] md:py-[104px] lg:py-[117px] relative animate__animated">
  <figure class="absolute inset-0 z-0">
    <img loading="eager" src="../../assets/{{page}}/mobile/mobile-image-hero.jpg" alt="coffee image" class="img ">
    <img loading="eager" src="../../assets/{{page}}/tablet/tablet-image-hero.jpg" alt="coffee image" class="img tablet">
    <img loading="eager" src="../../assets/{{page}}/desktop/desktop-image-hero.jpg" alt="coffee image"
      class="img desktop">
  </figure>

  <article class="relative text-center md:text-start md:max-w-[392px] lg:max-w-[510px]">
    <app-animated Animation="bounceIn">
      <h1 class="header-1" [ngClass]="{'small':isTittleSmall}">{{tittle}}</h1>
      <p class="description-1 mt-6 mb-10 lg:text-balance">{{description}}</p>
    </app-animated>
    
    <app-btn *ngIf="asBtn" />
  </article>
</section>