<!-- This component holds the information about how it works to prepare the coffee. this contains and entry animation with a delay of 300ms starting on the second element -->
<div class="md:max-w-[223px] lg:max-w-[285px]">
  <h3 class="text-72 leading-72 text-Apricot-Cream font-black font-fraunces md:pr-8">{{howWork.index}}</h3>
  <h4 class="text-28 leading-32 font-black font-fraunces text-Dark-Slate my-6 lg:pr-16">{{howWork.title}}</h4>
  <p class="description-1 text-Dark-Slate md:text-balance">{{howWork.description}}</p>
</div>